# these requirements must support python 2.7
# it is doubtful that Plex will ever update to Python 3+
flask==1.1.4;python_version<"3"
flask-babel==2.0.0;python_version<"3"
future==0.18.3
polib==1.2.0;python_version<"3"
requests==2.27.1;python_version<"3"
typing==3.10.0.0
xmltodict==0.12.0;python_version<"3"

# custom python-plexapi supporting python 2.7
# git+https://github.com/reenignearcher/python-plexapi.git@master-py2.7#egg=plexapi
https://github.com/reenignearcher/python-plexapi/archive/master-py2.7.zip#egg=plexapi
