{# This template is used to extract translations used in javascript files #}

{# General strings #}
{{ _('Clear Results') }}
{{ _('Installed Version:') }}
{{ _('Archived Plugin') }}
{{ _('Installed Plugin') }}
{{ _('System Plugin') }}

{# Tooltips #}
{{ _('Archived') }}
{{ _('Edit Categories') }}
{{ _('Force Update') }}
{{ _('Forks') }}
{{ _('GitHub Discussions') }}
{{ _('GitHub Wiki') }}
{{ _('Homepage') }}
{{ _('Install') }}
{{ _('License') }}
{{ _('Logs') }}
{{ _('Open Issues') }}
{{ _('Open Pull Requests') }}
{{ _('Plex Forum') }}
{{ _('Stars') }}
{{ _('Uninstall') }}
{{ _('Website') }}

{# Known categoires #}
{{ _('Adult') }}
{{ _('Anime') }}
{{ _('Channels') }}
{{ _('Games') }}
{{ _('Metadata Agent') }}
{{ _('Movies') }}
{{ _('Music') }}
{{ _('News') }}
{{ _('Photos') }}
{{ _('Podcasts') }}
{{ _('Radio') }}
{{ _('Scanner') }}
{{ _('Services') }}
{{ _('Subtitles') }}
{{ _('TV') }}
{{ _('Utility') }}
{{ _('Videos') }}
